@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-image: linear-gradient(#2AF598, #009EFD);
  background-size: cover;
  background-repeat: no-repeat;
}

#map {
  height: 70vh;
  width: 100%;
}

#weather_icon {
  min-width: 300px;
  max-width: 500px;
  display: block;
  align-content: center;
}

#toggleMarkers {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: #fff;
  cursor: pointer;
  font-size: 12px;
  padding: 5px 10px;
  margin-bottom: 15px;
  text-align: center;
  text-decoration: none;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.1);
  transition: .5s;
}

#toggleMarkers:hover {
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px;
}

.container {
  display: flex;
  flex-direction: row;
  margin: 2%;
}

.cards-map {
  width: 100%;
}

.search-container {
  border-radius: 5px;
  padding: 10px;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  border: 1px solid rgba(0, 0, 0, 0.135);
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 100%;
  outline: none;
  border: none;
  background: none;
  height: 30px;
  color: rgb(0, 0, 0);
}

::placeholder {
  color: rgb(0, 0, 0);
}

.card-container {
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
}

.info-card {
  flex: 1 1 0px;
  transition: 1s;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  border: 1px solid rgba(0, 0, 0, 0.135);
  margin: 10px;
  border-radius: 5px;
  padding: 10px;
}

.weather-container {
  width: 35%;
  max-width: 300px;
  height: fit-content;
  margin-right: 2%;
}

.weather-info {
  padding: 15px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.weather-main {
  display: block;
}

.weather-main p {
  padding: 10px;
}

.frosted-glass {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  transition: .5s;
}

.frosted-glass:hover {
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px;
}