<!DOCTYPE html>
<html>
  <head>
    <title>Log In</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="../static/styles/login_layout.css"
    />
    <script>
      function validateForm() {
        // Get the values of the input fields
        var username = document.getElementById("username").value;
        var password = document.getElementById("password").value;

        // Check if the username and password fields are empty
        if (username == "" || password == "") {
          alert("Please enter a username and password.");
          return false;
        }

        // Check if the password is at least 8 characters long
        if (password.length < 8) {
          alert("Password must be at least 8 characters long.");
          return false;
        }

        // All checks pass
        return true;
      }
    </script>
  </head>
  <body>
    <form name="loginForm" onsubmit="return validateForm()" method="post">
      <div class="container">
        <label for="username"><b>User</b></label>
        <input type="text" placeholder="Enter Email" name="username" required />

        <label for="password"><b>Password</b></label>
        <input
          type="text"
          placeholder="Enter Password"
          name="password"
          required
        />

        <button type="submit">Login</button>

        <!--Remember me checkmark-->
        <label>
          <input type="checkbox" checked="checked" name="remember" />Remember
          me>
        </label>
      </div>
      <div class="container">
        <button type="button" class="cancelbtn">Cancel</button>
        <!--Specify the method of a password recovery-->
        <span class="psw"> <a href="#">Forgot Password?</a></span>
        <!--Enter a link for password recovery-->
      </div>
    </form>
  </body>
</html>
