<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="static/styles/dashboard.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
      integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCEXSmH1FRzN_xwWqpJ1r44oFO87LmTXtM&libraries=geometry,visualization&callback=initMap"
      async
      defer
    ></script>
    <title>Dublin Cycle</title>

    <link rel="icon" type="image/svg+xml" href="../static/images/bicycle.svg" />
  </head>
  <body>
    <div class="container">
      <div class="weather-container">
        <div class="weather-info frosted-glass">
          <h2>Hello!</h2>
          <br />
          <h3>Ready for a ride today?</h3>
          <br />
          <div id="route">
            <h4>Build your trip:</h4>
            <br />
            <label for="station-select">Select starting position:</label>
            <select name="stations" id="station-select">
              <option>Please choose an option</option>
            </select>

            <label for="station-dest">Select ending position:</label>
            <select name="station-dest" id="station-dest">
              <option>Please choose an option</option>
            </select>
            <button id="buildRoute">Go!</button>
            <div id="duration"></div>
          </div>
          <img id="weather_icon" />
          <div class="weather-main">
            <p>Temperature: <span id="temperature"></span>°C</p>
            <p>Feels like: <span id="temp_feels_like"></span>°C</p>
            <p>Pressure: <span id="pressure"></span> hPa</p>
            <p>Humidity: <span id="humidity"></span>%</p>
            <p>Visibility: <span id="visibility"></span></p>
            <p>Speed of wind: <span id="wind_speed"></span> m/s</p>
          </div>
        </div>
      </div>
      <div class="cards-map">
           <select
              class="form-control"
              id="search"
            ></select>
<br/>
<div id='result'></div>
        <button id="toggleHeatmap">Hide Heatmap</button>
        <button id="toggleMarkers">Hide Markers</button>
        <button id="showLocation">Show Current Location</button>
        <div id="map"></div>
      </div>
      <div class="weather-container-right">
        <div class="weather-info frosted-glass">
          <h1>Get <span>Prediction</span></h1>
          <form id="prediction_form" onsubmit="return false">
            <label for="from_places">Station</label>
            <select
              class="form-control"
              id="from_places"
              value="select"
            ></select>
            <label for="dateInput">Date</label>
            <input type="date" id="dateInput" />
            <label for="timeInput">Time</label>
            <input type="time" id="timeInput" />
            <input
              class="btn btn-primary"
              id="submitPrediction"
              type="submit"
              value="Go"
            />
          </form>
          <p class="icon">🚴‍♀️</p>
          <p>Predicted Available Bikes: <span id="predictionResults"></span></p>
        </div>
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.6.3.min.js"
      integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/notify/0.4.2/notify.min.js"
      integrity="sha512-efUTj3HdSPwWJ9gjfGR71X9cvsrthIA78/Fvd/IN+fttQVy7XWkOAXb295j8B3cmm/kFKVxjiNYzKw9IQJHIuQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script>
      const stations = {{ stations | safe }};
      const bikes = {{ bikes | safe }};
      const weather = {{ weather | safe }};
      const current_availability = {{ current_availability | safe }}
    </script>
    <script type="module" src="./static/dashboard.js"></script>
    <script type="module" src="./static/index.js"></script>
    <script type="module" src="./static/weather.js"></script>
  </body>
</html>
