<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />

    <link rel="stylesheet" href="static/styles/dashboard.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
      integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script type="module" src="./static/index.js"></script>
    <script type="module" src="./static/weather.js"></script>
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCEXSmH1FRzN_xwWqpJ1r44oFO87LmTXtM&libraries=visualization&callback=initMap"
      async
      defer
    ></script>
    <title>Dublin Cycle</title>

    <link rel="icon" type="image/svg+xml" href="../static/images/bicycle.svg" />
  </head>
  <body>
    <div class="container">
      <div class="weather-container">
        <div class="weather-info frosted-glass">
          <h2>Hello!</h2>
          <br />
          <h3>Ready for a ride today?</h3>
          <div class="address-from">
            <label for="from-address">From:</label>
            <input
              type="text"
              id="from-address"
              name="from-address"
              placeholder="Enter a starting address"
            />
          </div>
          <div class="address-to">
            <label for="to-address">To:</label>
            <input
              type="text"
              id="to-address"
              name="to-address"
              placeholder="Enter a destination address"
            />
          </div>
          <img id="weather_icon" />
          <div class="weather-main">
            <p>Temperature: <span id="temperature"></span>°C</p>
            <p>Feels like: <span id="temp_feels_like"></span>°C</p>
            <p>Pressure: <span id="pressure"></span> hPa</p>
            <p>Humidity: <span id="humidity"></span>%</p>
            <p>Visibility: <span id="visibility"></span></p>
            <p>Speed of wind: <span id="wind_speed"></span> m/s</p>
          </div>
        </div>
      </div>
      <div class="cards-map">
        <div class="search-container frosted-glass">
          <i class="fa fa-search" aria-hidden="true" class="search-icon"></i>
          <input
            type="text"
            id="search-bar"
            class="search-bar"
            placeholder="Search a station..."
          />
        </div>
        <div class="card-container">
          <div class="info-card frosted-glass">
            <div>
              <h5>BIKES AVAILABLE</h5>
            </div>
            <h3 id="available-bikes"></h3>
          </div>

          <div class="info-card frosted-glass">
            <div>
              <h5>STATION</h5>
            </div>
            <h3 id="station"></h3>
          </div>

          <div class="info-card frosted-glass">
            <div>
              <h5>STATUS</h5>
            </div>
            <h3 id="status"></h3>
          </div>

          <div class="info-card frosted-glass">
            <div>
              <h5>STANDS AVAILABLE</h5>
            </div>
            <h3 id="available-stands"></h3>
          </div>
        </div>

        <button id="toggleMarkers">Hide Markers</button>
        <button id="toggleHeatmap">Hide Heatmap</button>
        <div id="map"></div>
      </div>
    </div>
    <script
      src="https://code.jquery.com/jquery-3.6.3.min.js"
      integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/notify/0.4.2/notify.min.js"
      integrity="sha512-efUTj3HdSPwWJ9gjfGR71X9cvsrthIA78/Fvd/IN+fttQVy7XWkOAXb295j8B3cmm/kFKVxjiNYzKw9IQJHIuQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script>
      const stations = {{ stations | safe }};
      const bikes = {{ bikes | safe }};
      const weather = {{ weather | safe }};
      const current_availability = {{ current_availability | safe }}
    </script>
  </body>
</html>
